/*banner*/
.banner
{
	background-color:#191410;
	text-align:center;
}
.banner #banner-left,.banner #banner-right
{
	display:block;
	position:absolute;
	top:50%;
	transform:translate(0,-50%);
	width:40px;
	height:64px;
}
.banner #banner-left
{
	left:0;
	background:url(../images/index/banner.png) no-repeat 0 0;
}
.banner #banner-right
{
	right:0;
	background:url(../images/index/banner.png) no-repeat 0 96%;
}
.banner ul
{
	position:absolute;
	left:50%;
	bottom:5%;
	transform:translate(-50%,0);
	cursor:pointer;
}
.banner ul li
{
	display:inline-block;
	width:10px;
	height:10px;
	border-radius:5px;
	background-color:#ccc;
}
.banner ul li:first-child,.banner ul li:hover
{
	background-color:#37a;
}
.banner
{
	background-color:#191410;
	text-align:center;
}
.banner #banner-left,.banner #banner-right
{
	display:block;
	position:absolute;
	top:50%;
	transform:translate(0,-50%);
	width:40px;
	height:64px;
}
.banner #banner-left
{
	left:0;
	background:url(../images/index/banner.png) no-repeat 0 0;
}
.banner #banner-right
{
	right:0;
	background:url(../images/index/banner.png) no-repeat 0 96%;
}
.banner ul
{
	position:absolute;
	left:50%;
	bottom:5%;
	transform:translate(-50%,0);
	cursor:pointer;
}
.banner ul li
{
	display:inline-block;
	width:10px;
	height:10px;
	border-radius:5px;
	background-color:#ccc;
}
.banner ul li:first-child,.banner ul li:hover
{
	background-color:#37a;
}
/*------------------content--------------------------*/
@keyframes bgchange
{
	0%{background-size:150px 150px}
	25%{background-size:120px 120px}
	50%{background-size:90px 90px}
	75%{background-size:60px 60px}
	100%{background-size:30px 30px}
}
.content
{
	margin:0 auto;
	position:relative;
	width:1000px;
	height:900px;
	background:#f4f4f4 url(../images/index/logo.png) no-repeat center;
	background-size:150px 150px;
	animation:bgchange 1s linear infinite alternate;
}
.content>div
{
	position:absolute;
	background-color:#fff;
}
.w600
{
	width:545px;
	height:400px;
}
.w400
{
	width:450px;
	height:495px;
}
.content-top
{
	left:0;
	border-radius:0 0 100px 0;
	border-bottom:5px solid rgba(25,125,225,.3);
}
.content-right
{
	top:0;
	right:0;
	border-radius:0 0 0 100px;
	border-left:5px solid rgba(125,225,25,.3);
}
.content-bottom
{
	right:0;
	bottom:0;
	border-radius:100px 0 0 0;
	border-top:5px solid rgba(225,25,125,.3);
}
.content-left
{
	bottom:0;
	border-radius:0 100px 0 0;
	border-right:5px solid rgba(25,25,25,.3);
}
.content a:hover
{
	color:#333;
	text-decoration:underline;
}
/*content-top*/
.ct-nav-p1
{
	position:absolute;
	bottom:5px;
	width:80%;
}
.ct-nav .circle
{
	float:left;
	margin:10px 5px;
	width:8px;
	height:8px;
	border-radius:10px;
}
.ct-nav .circle1
{
	border:5px solid rgba(25,125,225,.3);
}
.ct-nav h2
{
	float:left;
	margin:5px;
	font-size:24px;
}
.ct-nav a
{
	color:#555;
}
.ct-nav .musictype
{
	float:left;
	margin-top:16px;
	font-size:12px;
}
.ct-nav .musictype a
{
	display:inline-block;
	margin:0 5px;
}
.ct-nav .more
{
	float:right;
	margin-top:16px;
	font-size:12px;
}
.ct-nav h2 a:hover
{
	text-decoration:none;
}
.content-top ul
{
	margin-top:25px;
	padding-bottom:16px;
	width:500px;
	border-bottom:3px solid rgba(25,125,225,.3);
	border-radius:0 0 60px 0;
}
.content-top ul:hover
{
	box-shadow:3px 3px 5px rgba(25,125,225,.3);
}
.content-top ul li
{
	display:inline-block;
	vertical-align:top;
	margin:5px 30px;
	width:100px;
	font-size:12px;
}
.content-top ul li .pic-box,.content-top ul li .pic-box a
{
	position:absolute;
	display:block;
	width:100px;
	height:100px;
}
.content-top ul li .pic-box:hover
{
	box-shadow:0 0 10px #59e; 
	background:rgba(0,0,0,0.4) url(../images/index/play.png) no-repeat center;
	background-size:30px 30px;
}
.content-top ul li a
{
	color:#666;
}
.content-top ul li img
{
	width:100px;
	height:100px;
}
/*content-right*/
.content-right .circle2
{
	border:5px solid rgba(125,225,25,.3);
}
.content-right .ct-nav
{
	display:inline-block;
	padding-top:24px;
	margin-left:5px;
	width:30px;
}
.content-right .ct-nav ul
{
	float:left;
	margin:5px;
	text-align:center;
}
.content-right .ct-nav ul li a
{
	display:block;
	margin:30px 0;
	font-size:12px;
}
.listbox
{
	display:inline-block;
	vertical-align:top;
	padding:24px 0 32px 32px;
	width:372px;
	height:400px;
	border-radius:0 0 0 60px;
	border-left:3px solid rgba(125,225,25,.3);
}
.listbox:hover
{
	box-shadow:-3px 3px 5px rgba(125,225,25,.3);
}
.listbox td
{
	padding:8px 0 5px 8px;
	text-align:left;
	width:120px;
	font-size:12px;
}
.listbox a
{
	color:#666;
}
.listbox .first a
{
	color:red;
}
.listbox .second a
{
	color:orange;
}
.listbox .third a
{
	color:yellowgreen;
}
.listbox tr th img
{
	border-radius:10px;
	transition:all 500ms;
}
.listbox tr th img:hover
{
	border-radius:0 0 60px 60px;
	box-shadow:0 2px 5px lightblue;
}
/*content-bottom*/
.ct-nav-p3
{
	position:absolute;
	left:100px;
	width:80%;
}
.content-bottom .circle3
{
	border:5px solid rgba(225,25,125,.3);
}
.content-bottom ul li .hex
{
	display:block;
	width:104px;
	height:120px;
	overflow:hidden;
}
.content-bottom ul li .rotate-x
{
	transform:rotate(60deg);
}
.content-bottom ul li .rotate-y
{
	transform:rotate(-120deg);
}
.hexagon1
{
	background:url(../images/index/zhoujl.jpg) no-repeat center;
}
.hexagon2
{
	background:url(../images/index/linjj.jpg) no-repeat center;
}
.hexagon3
{
	background:url(../images/index/chenyx.jpg) no-repeat center;
}
.hexagon4
{
	background:url(../images/index/zhangxy.jpg) no-repeat center;
}
.hexagon5
{
	background:url(../images/index/lirh.jpg) no-repeat center;
}
.hexagon6
{
	background:url(../images/index/xuezq.jpg) no-repeat center;
}
.rotate-z
{
	transform:rotate(60deg);
	transition:all 300ms;
	background-size:130px 130px;
}
.rotate-z:hover
{
	background-size:150px 150px;
}
.content-bottom ul
{
	margin:42px 0 0 40px;
	border-radius:60px 0 0 0;
	border-top:3px solid rgba(225,25,125,.3);
}
.content-bottom ul:hover
{
	box-shadow:-3px -3px 5px rgba(225,25,125,.3);
}
.content-bottom ul li
{
	display:inline-block;
	margin:10px 20px;
}
.content-bottom ul li p
{
	margin:5px 0;
	text-align:center;
	font-size:12px;
}
.content-bottom ul li p a
{
	color:#666;
}
/*content-left*/
.ct-nav-p4
{
	float:right;
	width:30px;
	margin-right:5px;
	padding-top:80px;
}
.content-left .circle4
{
	border:5px solid rgba(25,25,25,.3);
}
.content-left .ct-nav ul
{
	float:right;
	margin-left:10px;
}
.content-left .ct-nav ul li
{
	margin:16px 0;
	font-size:12px;
}
.ct-radio
{
	margin-top:40px;
	width:408px;
	border-right:3px solid rgba(25,25,25,.3);
	border-radius:0 60px 0 0;
}
.ct-radio:hover
{
	box-shadow:3px -2px 5px rgba(25,25,25,.3);
}
.ct-radio ul li .radio-box
{
	width:360px;
	font-size:0;
	border-bottom:2px solid #888;
}
.ct-radio ul li .radio-box>a
{
	display:inline-block;
	width:40px;
	height:40px;
}
.ct-radio ul li .rb-1>a
{
	background:url(../images/index/story.png) no-repeat -5px center;
}
.ct-radio ul li .rb-2>a
{
	background:url(../images/index/read.png) no-repeat -5px center;
}
.ct-radio ul li .rb-3>a
{
	background:url(../images/index/talkshow.png) no-repeat -5px center;
}
.ct-radio ul li .rb-4>a
{
	background:url(../images/index/emotional.png) no-repeat -5px center;
}
.ct-radio ul li .rb-5>a
{
	background:url(../images/index/resing.png) no-repeat -5px center;
}
.ct-radio ul li:hover .radio-box a
{
	background-position:-53px center;
}
.ct-radio ul li:hover .radio-box h3 a,.ct-radio ul li ul li h4 a:hover
{
	color:#d95454;
}
.ct-radio ul li:hover .radio-box
{
	border-bottom:2px solid #d95454;
}
.ct-radio ul li .radio-box h3
{
	font-size:20px;
	display:inline-block;
	vertical-align:bottom;
}
.ct-radio ul li .radio-box h3 a
{
	color:#333;
}
.ct-radio ul li ul
{
	display:none;
	font-size:0;
}
.ct-radio ul li:first-child ul
{
	display:block;
}
.ct-radio ul:hover li:first-child ul
{
	display:none;
}
.ct-radio ul li:first-child:hover ul
{
	display:block;
}
.ct-radio ul li:hover ul
{
	display:block;
}
.ct-radio ul li ul li
{
	display:inline-block;
	margin:10px 0;
	vertical-align:top;
	width:200px;
}
.ct-radio ul li ul li a img
{
	float:left;
	width:90px;
	height:90px;
	border-radius:5px;
	box-shadow:0 0 5px #666;
	transition:all 300ms;
}
.ct-radio ul li ul li:hover a img
{
	border-radius:25px;
	box-shadow:0 0 10px #666;
}
.ct-radio ul li ul li h4 a
{
	margin:5px;
	color:#666;
	font-size:18px;
}
.ct-radio ul li ul li p
{
	margin:5px 0 0 95px;
	font-size:12px;
	color:#999;
}